extends layout
include _includes/sharedHTMLfunctions.jade

block breadcrumb
    #banner.page-header
        .row
            h1
        ul.breadcrumb
            li Home
            li Products
            li= product.name
block content
    .row 
        //- carousel
        .col-xs-12.col-sm-6
            .error= message
            div.carousel.slide(id='prodImages' data-ride='carousel')
                if (product.photos.length>1)
                    ol.carousel-indicators
                        each img, index in product.photos
                            if(index==0)
                                li(data-target='#prodImages' data-slide-to='0' class='active')
                            else
                                li(data-target='#prodImages' data-slide-to='#{index}' )
                div.carousel-inner(role='listbox')
                    each img, index in product.photos
                        if (index==0) 
                            div.item.active
                                img(src='#{img.url}' )
                                div.carousel-caption= img.description
                        else 
                            div.item
                                img(src='#{img.url}' )
                                div.carousel-caption= img.description
                if (product.photos.length>1)
                    a.left.carousel-control(href='#prodImages' role='button' data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                        span.sr-only Previous
                    a.right.carousel-control(href='#prodImages' role='button' data-slide='next')
                        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                        span.sr-only Next

        
        .col-xs-12.col-sm-6
            h3= product.name
            if (product.reviews && product.reviews.length>0)
                +outputRating(product.reviews.reduce((sum, cur) => (sum+cur.rating),0) / product.reviews.length)
                | &nbsp; #{product.reviews.length} reviews
            span.badge.pull-right.badge-default= product.price
            //- selectable properties
            if (product.selectableProperties && product.selectableProperties.length>0)
                form.form-horizontal(action='#', method='GET', role='form')
                    each prop in product.selectableProperties.sort((a,b)=>(a.sortOrder-b.sortOrder))
                        .form-group
                            label.col-xs-10.col-sm-3.control-label(for='#{prop.property.name}')= prop.property.name
                            .col-xs-12.col-sm-9
                                if(prop.property.value.constructor === Array && prop.property.value.length>0)
                                    select.form-control.input-sm(name='#{prop.property.name}' id='#{prop.property.name}')
                                        each val in prop.property.value
                                            option= val
                                else
                                    input.form-control(name='#{prop.property.name}' id='#{prop.property.name}' required)= prop.property.value
                    button.btn.btn-default.pull-right Buy
                    br
            //- tabs for product description and customer review
            ul.nav.nav-tabs
                li.active
                    a(data-toggle='tab' href='#desc') Description
                li
                    a(data-toggle='tab' href='#reviews') Reviews
            .tab-content
                .tab-pane.fade.in.active(id="desc")
                    p= product.description
                    
                    //- display product display properties
                    each prop in product.displayedProperties.sort((a,b)=>(a.sortOrder-b.sortOrder))
                        h5= prop.property.name
                        p= prop.property.value
                    each tag in product.tags
                        span.label.label-warning= tag
                        | &nbsp;
                .tab-pane.fade.in(id="reviews")
                    br
                    a.btn.btn-default.pull-right(href='/product/review/new') Add review
                    h2.panel-title Customer Review
                    br
                    for review in product.reviews
                        .row
                            .review
                                .well.well-sm.review-header
                                    span.rating
                                        +outputRating(review.rating)                 
                                    span.reviewAuthor= review.userName
                                    small.reviewTimestamp= review.date
                                .col-xs-12
                                    p= review.comment
