extends layout

include _includes/sharedHTMLfunctions

block breadcrumb
    #banner.page-header
        .row
            h3= pageHeader.title 
                small &nbsp;- #{pageHeader.strapline}
block content
    .row
        .col-xs-12.col-sm-8
            .error= message
            .row.list-group
                each product in products
                    .col-xs-12.list-group-item
                        h4
                            a(href='/product/#{product._id}')= product.name
                            if (product.reviews && product.reviews.length>0)
                                small &nbsp;
                                    +outputRating(product.reviews.reduce((sum, cur) => (sum+cur.rating),0) / product.reviews.length)
                            span.badge.pull-right.badge-default= product.price
                        .row
                            .col-xs-12.col-sm-3.col-md-3.col-lg-2
                                img(src="#{product.photos[0].url}" width='100px' class="img-rounded")
                            .col-xs-12.col-sm-9.col-md-9.col-lg-10= product.description
                                p
                                    each tag in product.tags
                                        span.label.label-warning= tag
                                        | &nbsp;
                                            
        .col-xs-12.col-sm-4
            p.lead=sidebar 